/* .homepage{
    background-color: #43865E;
    height: 50%;
}
.login{
    background-color: white;
    height: 50%;
}
*/
/* 
.button {
    background-color: #FFDE59;
    color: black;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 10px;
    cursor: pointer;
    border-width: 0;
}  */


/* .button:hover {
  opacity: 1;
  pointer-events: initial;
  background-color: rgb(221, 202, 27);
} */