button {
    background-color: #070707;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 600;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 10px;
    cursor: pointer;
    border-width: 0;
    font-family: 'Barlow Condensed';
}

input{
    color: black;
    background-color: rgba(243, 243, 243, 0.74);
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    border-width: 1;
    margin-bottom: "5%";
}



button:hover {
  opacity: 1;
  pointer-events: initial;
  background-color: rgb(221, 202, 27);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(15, 128, 15, 0.482);
  }
  img {
    max-width: 100%
  }
  .image {
    flex-basis: 20%
  }
  .text {
    font-size: 10px;
    padding-left: 20px;
  }