.Container {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px 60px;
    border-radius: 5px;
    margin: 10px 60px;
    cursor: pointer;
    border-width: 0;
    margin-left: 24%;
    margin-top: 6%;
}

.input{
    color: black;
    background-color: rgba(255, 255, 255, 0.906);
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    border-width: 1;
    margin: 5%;
}
